<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.or/DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="BoardVO" type="kr.co.domain.BoardVO"/>	
		<typeAlias alias="ReplyVO" type="kr.co.domain.ReplyVO"/>	
		<typeAlias alias="UserVO" type="kr.co.domain.UserVO"/>	
		<typeAlias alias="AttachVO" type="kr.co.domain.AttachVO"/>	
		<typeAlias alias="AdsVO" type="kr.co.domain.AdsVO"/>	
		<typeAlias alias="ProductVO" type="kr.co.domain.ProductVO"/>	
		<typeAlias alias="CartVO" type="kr.co.domain.CartVO"/>	
		<typeAlias alias="CartTestVO" type="kr.co.domain.CartTestVO"/>
		<typeAlias alias="OwnerPageVO" type="kr.co.domain.OwnerPageVO"/>
		<typeAlias alias="OrderInfoVO" type="kr.co.domain.OrderInfoVO"/>
		<typeAlias alias="OwnerVO" type="kr.co.domain.OwnerVO"/>
	
	</typeAliases> 
</configuration>